<table class="w-full bg-[#f0f5f5] pb-[20px] sm:max-w-[375px]  sm:w-[100%]">
  <tr>
    <td width="500" class="text-center py-5 header-text sm:max-w-[375px]  sm:w-[100%]">
      Sint cupidatat occaecat ut
    </td>
  </tr>

  <tr>
    <td  class="pb-[20px]">
      <table width="600" class="text-center max-w-[600px] sm:max-w-[375px]  sm:w-[100%] ">
        <tr>
          <td
          class="max-w-[300px] text-center px-[25px] sm:block sm:w-[360px] sm:w-[100%] sm:px-[40px] sm:block  "
          width="290"
          height="325"  
        >
          <table class="max-w-[300px] bg-[#ffffff] sm:block sm:w-[360px] sm:w-[100%]">
            <tr>
              <td class="px-[10px] ">
                <table>
                  <tr>
                    <td
                      class="max-w-[100px] max-h-[100px] text-center pt-[25px]  "
                      width="100"
                      height="100"
                    >
                      <x-image
                        class="w-[100px] h-[100px]"
                        imgUrl="circle.png"
                        href="#"
                        alt="logo"
                        width="100px"
                        height="100px"
                        class="max-w-full leading-none align-middle"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center py-5 header-text">Nisi ut ade</td>
                  </tr>
                  <tr>
                    <td
                      width="270"
                      class="text-center max-w-[270px] px-[20px] default-font-2 pb-[20px]"  
                    >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="sup"
                        >1</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
          <td
          class="max-w-[300px] text-center px-[25px] sm:block sm:w-[360px] sm:w-[100%] sm:px-[40px]"
          width="290"
          height="325"
        >
          <table class="max-w-[300px] bg-[#ffffff] sm:block sm:w-[360px] sm:w-[100%]">
            <tr>
              <td class="px-[10px]">
                <table>
                  <tr>
                    <td
                      class="max-w-[100px] max-h-[100px] text-center pt-[25px]"
                      width="100"
                      height="100"
                    >
                      <x-image
                        class="w-[100px] h-[100px]"
                        imgUrl="circle.png"
                        href="#"
                        alt="logo"
                        width="100px"
                        height="100px"
                        class="max-w-full leading-none align-middle"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center py-5 header-text">Duis aute irure</td>
                  </tr>
                  <tr>
                    <td
                      width="270"
                      class="text-center max-w-[270px] px-[20px] default-font-2 pb-[20px]"  
                    >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="sup"
                        >2</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
