
<table class="w-full sm:max-w-[375px]">
  <tr>
        <td width="560" height="203" class="px-[15px] w-[560px] h-[203px] sm:px-[0px] sm:max-w-[375px] sm:h-[100%]">
          <x-image class="w-[560px] h-[203px] sm:max-w-[100%] sm:h-[100%]" imgUrl="image-1.png" href="#" alt="logo"
          width="560px"
          height="203px" />
        </td>
  </tr>

  <tr>
    <td width="500" class="text-center py-[12px]   sm:max-w-full sm:max-w-[200px]   header-text  ">Excepteur sint occaecat cupidatat</td>  
  </tr>
  <tr>
    <td width="500" height="80" class="default-font-2 text-center header-desc  sm:max-w-[375px] sm:h-[110px] ">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>  
  </tr>

  <tr>
    <td class="text-center sm:max-w-full sm:max-w-[375px] ">
      <x-button width="310" height="40" padding="8px 10px" border-radius="4px" class="mb-10" >Ut enim ad minim veniam</x-button>
    </td>
  </tr>
</table>

