<!-- fragment 1 start -->
<table class="w-full "  >
  <tr>
   
        <td  width="115" height="45"  class="p-4 max-w-[115px]" >
         

          <x-image class="w-[115px]" imgUrl="image-2.png" href="#" alt="logo"
          width="115px"
          height="45px" />
        </td>
        <td width="337" height="37"  class=" pr-[100px]   default-font   max-w-[337px]" v-align="middle" >
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </td>
      
      </tr>
    </td>
  </tr>
</table>
<!-- fragment 1 end -->
