<!-- fragment 2 start -->
<table class="w-full  " >
  <tr>
   
        <td  width="560" height="203"  class="px-[15px] w-[560px] h-[203px] " >
         


          <x-image class="w-[560px] h-[203px]" imgUrl="image-1.png" href="#" alt="logo"
          width="560px"
            height="203px"
             />
        </td>
        
      </tr>

      <tr>
      <td width="500" class="text-center py-5 header-text" >Excepteur sint occaecat cupidatat </td>  
      </tr>
      <tr>
        
        <td width="500" height="80" class=" default-font-2 text-center header-desc float-left" >   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>  
        
        </tr>

        <tr>
        <td class="text-center" >
         <x-button width="310" height="40"  padding="8px 10px" border-radius="4px" class="mb-10"  >Ut enim ad minim veniam</x-button>
          </td>
          </tr>
    </td>
  </tr>
</table>
<!-- fragment 2 end -->
