
<table class="w-full  sm:max-w-[375px]"  >
  <tr>
   
        <td  width="115" height="45"  class="p-[15px] max-w-[115px] sm:max-w-[200px]" >
         

          <x-image class="w-[115px] sm:max-w-[400px] sm:w-[110px]" imgUrl="image-2.png" href="#" alt="logo"
          width="115px"
          height="45px" />
        </td>
        <td width="337" height="37"  class=" pr-[100px]   default-font   max-w-[337px] sm:text-[12px]  sm:pr-[10px] sm:leading-[14px] sm:max-w-[209px] " v-align="middle" >
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </td>
      
      </tr>
    </td>
  </tr>
</table>

