<!-- fragment 1 start -->
<table class="w-full bg-blue-300 " >
  <tr>
   
        <td  width="142" height="45"  class="p-4" >
          <img
           
            src="image-2.png"
            alt="logo"
            width="142px"
            height="45px"
            class="max-w-full leading-none align-middle"
          />
        </td>
        <td width="337" height="37"  class=" pl-3  default-font " v-align="middle" >
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </td>
        <td width="115" height="45"  class="   " v-align="middle"></td> 
      </tr>
    </td>
  </tr>
</table>
<!-- fragment 1 end -->
