<!-- fragment 5 start -->
<table class="w-full">
  <tr>
    <td class="max-w-[600px] ">
      <table role="separator">
        <tr>
          <td class="w-[300px] align-center-table" width="300">
            <div class="w-[530px] h-px leading-px bg-black my-[20px]" role="separator">&zwj;</div>
          </td>
        </tr>
        <tr>
          <td class="text-center">Sed do eiusmod tempor incididunt ut labore</td>
        </tr>

        <tr>
          <td class="text-center max-w-[600px] py-[20px]" width="600"><x-image imgUrl="footer.png" alt="footer"  class="w-[100px] h-[40px]" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- fragment 5 end -->
