<!-- fragment 3 start -->
<table class="w-full bg-[#f0f5f5] pb[20px]">
  <tr>
    <td width="500" class="text-center py-5 header-text">
      Sint cupidatat occaecat ut
    </td>
  </tr>

  <tr>
    <td>
      <table width="580" class="text-center max-w-[580px] mx-[10px] ">
        <tr>
          <td class="max-w-[270px] mx-[10px] text-center" width="270" height="325">
            <table class="bg-[#ffffff] max-w-[270px]  mx-[10px]  ">
              <tr>
                <td
                class=" max-w-[100px] max-h-[100px]  text-center pt-[20px] "
                width="100"
                height="100"
              > <x-image class="w-[100px] h-[100px]" imgUrl="circle.png" href="#" alt="logo"
              width="100px"
                height="100px"
                class="max-w-full leading-none align-middle" /></td>
              </tr>
              <tr>
                <td class="text-center py-5 header-text">
                  Nisi ut ade
                </td>
              </tr>
              <tr>
                <td width="270" class="text-center px-[20px] default-font-2 pb-[20px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.²
                </td>
              </tr>
            </table>
          </td>
          <td class="max-w-[270px] mx-[10px] text-center" width="270" height="325">
            <table class="bg-[#ffffff] max-w-[270px] mx-[10px] ">
              <tr>
                <td
                class=" max-w-[100px] max-h-[100px]  text-center pt-[20px]"
                width="100"
                height="100"
              > <x-image class="w-[100px] h-[100px]" imgUrl="circle.png" href="#" alt="logo"
              width="100px"
                height="100px"
                class="max-w-full leading-none align-middle" /></td>
              </tr>
              <tr>
                <td class="text-center py-5 header-text">
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td width="270" class="text-center px-[20px] default-font-2 pb-[20px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.²
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- fragment 3 end -->
