/*
 * Here is where you can add your global email CSS resets.
 *
 * We use a custom, email-specific CSS reset, instead
 * of Tailwind's web-optimized `base` layer.
 *
 * Styles defined here will be inlined.
*/
html,
body,
table,
td,
p,
div,
img,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  @apply max-w-full leading-none align-middle;
  border: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: inherit !important;
}

table  {
  border-collapse: collapse;
}

sup {
  vertical-align: 5px;
  line-height: 0;
}


.ReadMsgBody {
  width: 100%;
  background-color: #ffffff;
}
.ExternalClass {
  width: 100%;
  background-color: #ffffff;
}
body {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif, Helvetica;
}

.default-font{ 
  font-size: 12px !important;
  line-height: 14px !important;
}

.header-text{
  font-weight: 900 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  color: #005555 !important;
}

.default-font-2{
  font-size: 14px !important;
  line-height: 16px !important;
}
.default-font-3{
  font-size: 16px !important;
  line-height: 18px !important;
}
.header-desc{
  max-width: 500px !important;
  text-align: center !important;
  margin: 0 50px;
  padding: 0 30px;
}